<header class="wrap-title">
  <div class="container">
    <h1 class="page-title"><%= title 'Edit Profile' %></h1>
    <% description 'Edit Profile page.' %>
    <% keywords 'edit profile page' %>
  </div>
</header>
<%= bootstrap_form_for @profile do |f| %>
	<% if @profile.errors.any? %>
		<div class="error_messages">
			<h2>Form is invalid</h2>
			<ul>
				<% for message in @profile.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="container">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.text_field :first_name, label: "First Name" %>
			<%= f.text_field :last_name, label: "Last Name" %>
			<%= f.text_field :address_one, label: "Address 1" %>
			<%= f.text_field :address_two, label: "Address 2" %>
			<%= f.text_field :city, label: "City" %>
			<%= f.text_field :state, label: "State" %>
			<%= f.text_field :zip_code, label: "Zip Code" %>
			<%= f.text_field :school_name, label: "School" %>
			<%= f.submit %>
			<h4><%= link_to 'Back', profile_url %></h4>
		</div>
		<div class="col-md-4">
		</div>
	</div>
<% end %>

