<header class="wrap-title">
  <div class="container">
    <h1 class="page-title"><%= title 'Log In' %></h1>
    <% description 'Log In page.' %>
    <% keywords 'log in page login' %>
  </div>
</header>
	<%= bootstrap_form_tag url: "/sessions" do %>
		<div class="container">
			<div class="col-md-5">
			</div>
			<div class="col-md-2">
				<%= label_tag :email %><br>
				<%= email_field_tag :email, params[:email] %><br>
				<%= label_tag :password %><br>
				<%= password_field_tag :password %><br><br>
				<%= check_box_tag :remember_me, 1, params[:remember_me] %>
        <%= label_tag :remember_me %><br>
				<%= submit_tag "Log In" %><br>
				<h4><%= link_to 'Forgot Password?', new_password_reset_path %></h4>
			</div>
			<div class="col-md-5">
			</div>
		</div>
	<% end %>
