<header class="wrap-title">
  <div class="container">
    <h1 class="page-title">Log In</h1>
  </div>
</header>
	<div class="container">
		<div class="col-md-5">
		</div>
		<div class="col-md-2">
			<%= bootstrap_form_tag url: "/sessions" do %>
				<%= label_tag :email %><br>
				<%= text_field_tag :email, params[:email] %><br>
			<%= label_tag :password %><br>
				<%= password_field_tag :password %><br><br>
					<%= submit_tag "Log In" %><br><br>
					<h4><%= link_to 'Forgot Password?', new_password_reset_path %></h4>
			<% end %>
		</div>
		<div class="col-md-4">
		</div>
	</div>