<!--
<div class="container">
<form role="form">
		<h1>Log in</h1>
		<%= form_tag sessions_path do %>
			<div class="field">
				<%= label_tag :email, nil, {class: "col-sm-1 control-label"} %>
				<div class="col-sm-11">
				<%= text_field_tag :email, params[:email] %>
				</div>
			</div>
			<div class="field">
				<%= label_tag :password, nil, {class: "col-sm-1 control-label"} %>
				<div class="col-sm-11">
					<%= password_field_tag :password %>
				</div>
			</div>
			<div class="field">
				<div class="col-sm-offset-1 col-sm-11">
					<div class="checkbox">
						<label>
							<%= check_box_tag :remember_me, 1, params[:remember_me] %>
							<%= label_tag :remember_me %>
						</label>
					</div>
				</div>
			</div>
			<div class="col-sm-offset-1 col-sm-11">
				<div class="actions">
					<%= submit_tag "Log in" %>
				</div>
			</div>
		<% end %>
</form>
</div>
-->

<header class="wrap-title">
  <div class="container">
    <h1 class="page-title">Log In</h1>
  </div>
</header>
<%= form_tag sessions_path do %>
	<div class="field">
		<%= label_tag :email %>
		<%= text_field_tag :email, params[:email] %>
	</div>
	<div class="field">
		<%= label_tag :password %>
		<%= password_field_tag :password %>
	</div>
	<div class="field">
		<%= check_box_tag :remember_me, 1, params[:remember_me] %>
		<%= label_tag :remember_me %>
	</div>
	<div class="actions">
		<%= submit_tag "Log in" %>
	</div>
<% end %>
<br>
<%= link_to 'Forgot Password?', new_password_reset_path %>