<h1>Password Reset</h1>
<%= form_tag password_resets_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
    <%= hidden_field_tag :reset_password_email_sent_at, DateTime.now %>
    <%= submit_tag "Reset Password" %>
  </div>
<% end %>
<br>
<%= link_to 'Back', login_path %>