<header class="wrap-title">
  <div class="container">
    <h1 class="page-title">Password Reset</h1>
  </div>
</header>
<%= form_tag password_resets_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
    <%= submit_tag "Reset Password" %>
  </div>
<% end %>
<br>
<%= link_to 'Back', login_path %>