<header class="wrap-title">
  <div class="container">
    <h1 class="page-title"><%= title 'Sign Up' %></h1>
    <% description 'Sign Up page.' %>
    <% keywords 'Sign Up page' %>
  </div>
</header>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= bootstrap_form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul class="alert alert-warning">
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.email_field :email, label: "Email" %>
      <%= f.text_field :first_name, label: "First Name" %>
      <%= f.text_field :last_name, label: "Last Name" %>
      <%= f.select :school_name, options_for_select(supported_schools), label: "School" %>
      <%= f.password_field :password, label: "Password" %>
      <%= f.password_field :password_confirmation, label: "Confirm Password" %>
      <%= f.submit %>
    <% end %>
    <br><p>By signing up, you are agreeing to our <%= link_to "Terms and Conditions", terms_path %>.</p>
  </div>
</div>
