<header class="wrap-title">
  <div class="container">
    <h1 class="page-title"><%= t('.contact_us') %></h1>
  </div>
</header>
<div class="container">
<div class="col-md-4">
</div>
<div class="col-md-4">
<%= bootstrap_form_for @contact, :url => contacts_path do |f| %>
    <% if ContactUs.require_name %>
        <%= f.text_field :name, label: "Name*" %>
      <% if f.object.errors[:name].present? %>
        <p class='inline-error'><%= f.object.errors[:name].join(' and ') %></p>
      <% end %>
    <% end %>
      <%= f.text_field :email, label: "Email*" %>
    <% if f.object.errors[:email].present? %>
      <p class='inline-error'><%= f.object.errors[:email].join(' and ') %></p>
    <% end %>
    <% if ContactUs.require_subject %>
          <%= f.text_field :subject, label: "Subject*" %>
        <% if f.object.errors[:subject].present? %>
          <p class='inline-error'><%= f.object.errors[:subject].join(' and ') %></p>
        <% end %>
    <% end %>
        <%= f.text_area :message, label: "Message*" %>
      <% if f.object.errors[:message].present? %>
        <p class='inline-error'><%= f.object.errors[:message].join(' and ') %></p>
      <% end %>
    <%= f.submit :submit %>
  </div>
  <div class="col-md-4">
  </div>
  </div>
<% end %>
