<header class="wrap-title">
  <div class="container">
    <h1 class="page-title"><%= title 'Contact Us' %></h1>
    <% description 'Contact Us page.' %>
    <% keywords 'contact us page' %>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <%= bootstrap_form_for @contact, :url => contacts_path do |f| %>
        <% if ContactUs.require_name %>
          <%= f.text_field :name, label: "Name*" %>
          <% if f.object.errors[:name].present? %>
            <p class='inline-error'><%= f.object.errors[:name].join(' and ') %></p>
          <% end %>
        <% end %>
          <%= f.text_field :email, label: "Email*" %>
        <% if f.object.errors[:email].present? %>
          <p class='inline-error'><%= f.object.errors[:email].join(' and ') %></p>
        <% end %>
        <% if ContactUs.require_subject %>
          <%= f.text_field :subject, label: "Subject*" %>
          <% if f.object.errors[:subject].present? %>
            <p class='inline-error'><%= f.object.errors[:subject].join(' and ') %></p>
          <% end %>
        <% end %>
          <%= f.text_area :message, label: "Message*" %>
          <% if f.object.errors[:message].present? %>
            <p class='inline-error'><%= f.object.errors[:message].join(' and ') %></p>
          <% end %>
        <%= f.submit "Submit", class: "btn btn-f2yd" %>
      <% end %>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <br>
    <h1 class="text-center">Connect With Us</h1>
    <div class="col-md-6">
      <p class="text-right"><a href="http://facebook.com/formstoyourdoor"><i class="fa fa-facebook-square social-links"></i></a></p>
    </div>
    <div class="col-md-6">
      <p class="text-left"><a href="http://twitter.com/forms2door"><i class="fa fa-twitter-square social-links"></i></a></p>
    </div>
  </div>
</div>