<header>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="padd">
          <!-- Hero title -->
          <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ici</h2>
        </div>
      </div>
      <div class="row">
        <div class="span6 offset3">
          <div class="row">
            <div class="span6">
              <p><a href="#" class="btn btn-large btn-warning">View Project</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row"> <img src="<%= asset_path('img/banner.png')%>" alt="" border="0"> </div>
    </div>
  </div>
</header>
<div class="main">
  <div class="container">
    <!-- Features -->
    <div class="features">
      <div class="row">
        <!-- Each features should be enclosed inside the class "widget-x". x denotes a,b,c... -->
        <!-- Features #1 -->
        <div class="widget-a">
          <!-- Icon -->
          <p class="icony"> <i class="icon-comments"></i> </p>
          <!-- Info (i.e title) -->
          <div class="finfo">
            <h3>Lorem <b>Ipsudor</b></h3>
          </div>
        </div>
        <!-- Features #2 -->
        <div class="widget-b">
          <p class="icony"> <i class="icon-gift"></i> </p>
          <div class="finfo">
            <h3>Lorem <b>Ipsudor</b></h3>
          </div>
        </div>
        <!-- Features #3 -->
        <div class="widget-c">
          <p class="icony"> <i class="icon-calendar"></i> </p>
          <div class="finfo">
            <h3>Lorem <b>Ipsudor</b></h3>
          </div>
        </div>
        <!-- Features #4 -->
        <div class="widget-d">
          <p class="icony"> <i class="icon-user"></i> </p>
          <div class="finfo">
            <h3>Lorem <b>Ipsudor</b></h3>
          </div>
        </div>
      </div>
    </div>
    <!-- Gallery -->
    <div class="gallery">
      <div class="row">
        <div class="span12">
          <h2><b>GALLERY</b></h2>
          <!-- Pics. Full version image link should be given in <a> tag. Thumbnail version image should be given in <img> tag. -->
          <div class="pics"> <a href="<%= asset_path('img/photos/1.jpg')%>" class="prettyPhoto[pp_gal]"><img src="<%= asset_path('img/photos/tn_1.jpg')%>" alt="" /></a> <a href="<%= asset_path('img/photos/2.jpg')%>" class="prettyPhoto[pp_gal]"><img src="<%= asset_path('img/photos/tn_2.jpg')%>" alt="" /></a> <a href="<%= asset_path('img/photos/3.jpg')%>" class="prettyPhoto[pp_gal]"><img src="<%= asset_path('img/photos/tn_3.jpg')%>" alt="" /></a> <a href="<%= asset_path('img/photos/4.jpg')%>" class="prettyPhoto[pp_gal]"><img src="<%= asset_path('img/photos/tn_4.jpg')%>" alt="" /></a> </div>
        </div>
      </div>
    </div>
    <h2><b>TESTIMONIALS</b></h2>
    <!-- Testimonial section -->
    <div class="testimonial">
      <div class="row">
        <div class="span6">
          <!-- Each testimonial should be given inside "testi" class -->
          <!-- Testimonial #1 -->
          <div class="testi">
            <!-- Testimonial author -->
            <div class="tauthor">
              <!-- Author pic -->
              <img src="<%= asset_path('img/testi2.jpg')%>" alt="" /> </div>
            <div class="tinfo">
              <!-- Quote -->
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut ante at diam pulvinar molestie. Vestibulum ac quam ante, a laoreet risus. Sus</p>
                <!-- Author details -->
                <small class="pull-right">John Doe</small> </blockquote>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="span6">
          <!-- Testimonial #2 -->
          <div class="testi">
            <div class="tauthor"> <img src="<%= asset_path('img/testi1.jpg')%>" alt="" /> </div>
            <div class="tinfo">
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut ante at diam pulvinar molestie. Vestibulum ac quam ante, a laoreet risus. Sus</p>
                <small class="pull-right">John Doe</small> </blockquote>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- Buttons. Replace # with your link -->
    <div class="buttons"></div>
  </div>
  <!-- End of container -->
  <!-- Sponsors -->
  <!-- Foot -->
  <div class="foot">
    <div class="container">
      <!-- Foot contents should be added inside class "fwidget" -->
      <div class="row">
        <div class="span4">
          <!-- Twitter feed -->
          <div class="fwidget">
            <!-- Title -->
            <h4>Twitter Feed</h4>
            <div class="twitter-feed">
              <p><img src="<%= asset_path('img/twitter-img.jpg')%>" alt="" /><em>Download my paper stack PSD from<br>
                <small>@blazrobar</small> #webdesign</em><br>
                <span>2 hours ago</span></p>
            </div>
            <div class="twitter-feed">
              <p><img src="<%= asset_path('img/twitter-img.jpg')%>" alt="" /><em>Download my paper stack PSD from<br>
                <small>@blazrobar</small> #webdesign</em><br>
                <span>2 hours ago</span></p>
            </div>
            <div class="twitter-feed">
              <p><img src="<%= asset_path('img/twitter-img.jpg')%>" alt="" /><em>Download my paper stack PSD from<br>
                <small>@blazrobar</small> #webdesign</em><br>
                <span>2 hours ago</span></p>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="fwidget">
            <!-- Subscribe -->
            <!-- Title -->
            <h4>Subscribe</h4>
            <!-- Para -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut ante at diam pulvinar molestie. Vestibulum ac quam ante, a laoreet risus. Suspendisse pharetra, nibh et sodales tristique, nulla nisl laoreet nulla, eget imperdiet</p>
            <!-- Form -->
            <form class="form-inline">
              <input type="text" class="input-large" placeholder="Enter your email">
              <button type="submit" class="btn btn-warning">Subscribe</button>
            </form>
          </div>
        </div>
        <div class="span4">
          <div class="fwidget">
            <!-- About us widget -->
            <!-- Title -->
            <h4>About Us</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum dolor eget nisi fermentum quis hendrerit magna vestibulum. Sed mauris nibh, congue quis tincidunt vitae, tincidunt non nisi. Vivamus a auctor quam. Donec posuere molestie lacinia. </p>
            <!-- Social media icons -->
            <div class="social"> <a href="#" class="tip" data-original-title="Facebook"><img src="<%= asset_path('img/linkedin.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="Twitter"><img src="<%= asset_path('img/twitter.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="Google Plus"><img src="<%= asset_path('img/vimeo.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="pInterest"><img src="<%= asset_path('img/facebook.png')%>" alt="" /></a> <a href="#" class="tip" data-original-title="LinkedIn"><img src="<%= asset_path('img/blog.png')%>" alt="" /></a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>