<div class="col-md-4 col-md-offset-4">
  <%= bootstrap_form_for @course do |f| %>
    <% if @course.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul class="alert alert-warning">
          <% for message in @course.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.text_field :course_num, label: "Course Number", class: "form-group" %>
    <%= f.text_field :course_name, label: "Course Name" %>
    <div class="form-group clockpicker">
      <%= f.text_field :meet_time, class: "form-control", value: "8:00", label: "Course Meeting Time" %>
    </div>
    <%= f.text_field :room_num, label: "Room Number" %>
    <%= f.submit %>
  <% end %>
  <h4><%= link_to 'Back', schedule_url %></h4>
</div>
<script type="text/javascript">
$('.clockpicker').clockpicker({
  donetext: 'Done',
  autoclose: true
});
</script>
