<header class="wrap-title">
  <div class="container">
    <h1 class="page-title">Add Course</h1>
  </div>
</header>
<div class="container">
<div class="col-md-4">
</div>
<%= bootstrap_form_for :course do |f| %>
<div class="col-md-4">
  <% if @course.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @course.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.text_field :course_num, label: "Course Number" %>
      <%= f.text_field :course_name, label: "Course Name" %>
      <%= f.time_select :meet_time, label: "Course Meeting Time" %>
      <%= f.text_field :room_num, label: "Room Number" %>
      <%= f.date_select :exam_date %>
      <%= f.select :form_type, options_for_select(%w[GreenScantron BlueScantron BlueBook]) %>
        <%= f.submit %>
</div>
<% end %>
<div class="col-md-4">
</div>
</div>