<header class="wrap-title">
  <div class="container">
    <h1 class="page-title">My Schedule</h1>
  </div>
</header>
<div class="container">
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Course Number</th>
					<th>Course Name</th>
					<th>Meeting Time</th>
					<th>Room Number</th>
					<th>Exam Dates</th>
					<th>Form Required</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
		<% @course_list.each do |c| %>
				<tr>
					<td style="vertical-align: middle;"><%= c.course_num %></td>
					<td style="vertical-align: middle;"><%= c.course_name %></td>
					<td style="vertical-align: middle;"><%= c.meet_time.strftime("%I:%M") %></td>
					<td style="vertical-align: middle;"><%= c.room_num %></td>
					<td style="vertical-align: middle;"><%= c.exam_date.strftime("%A, %B %d, %Y") %></td>
					<td style="vertical-align: middle;"><%= c.form_type %></td>
					<td><h6><%= link_to "Edit", edit_course_path(c) %></h5></td>
					<td><h6><%= link_to "Delete", course_path(c), method: :delete, data: { confirm: 'Are you sure?' } %></h5></td>
				</tr>
		<% end %>
			</tbody>
		</table>
	</div>
<br>
<h4><%= link_to "Add Course", courses_path %></h4>
</div>