<header class="wrap-title">
  <div class="container">
    <h1 class="page-title">My Schedule</h1>
  </div>
</header>
	<table class="table">
		<thead>
			<tr>
				<th>Course Number</th>
				<th>Course Name</th>
				<th>Meeting Time</th>
				<th>Room Number</th>
				<th>Exam Dates</th>
				<th>Form Required</th>
			</tr>
		</thead>
		<tbody>
	<% @course_list.each do |c| %>
			<tr>
				<td><%= c.course_num %></td>
				<td><%= c.course_name %></td>
				<td><%= c.meet_time %></td>
				<td><%= c.room_num %></td>
				<td><%= c.exam_date %></td>
				<td><%= c.form_type %></td>
			</tr>
	<% end %>
		</tbody>
	</table>
<br>
<%= link_to "Add Course", courses_path %>
