<header class="wrap-title">
  <div class="container">
    <h1 class="page-title"><%= title 'Pricing' %></h1>
    <% description 'Pricing page.' %>
    <% keywords 'pricing page' %>
  </div>
</header>
<div class="container">
  <section>
    <div class="row">
      <div class="col-md-2 col-sm-2">
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="active-pricing-box animated fadeInUp animation-delay-6">
          <div class="active-pricing-box-price">
            <h2>Free to Sign Up</h2>
          </div>
          <div class="active-pricing-box-content">
            <ul>
              <li><i class="fa fa-check-square-o"></i> <span>Sign Up.</span></li>
              <li><i class="fa fa-calendar"></i> <span>Input your schedule.</span></li>
              <li><i class="fa fa-pencil"></i> <span>Add exams and proper forms.</span></li>
            </ul>
          </div>
          <div class="active-pricing-box-footer">
            <% if current_user %>
              <%= button_to "Submit Your Schedule", schedule_path, :class => "btn btn-default", :method => :get %>
            <% else %>
              <%= button_to "Sign Up", signup_path, :class => "btn btn-default", :method => :get %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="active-pricing-box animated fadeInUp animation-delay-7">
          <div class="active-pricing-box-price">
            <h2>$1.99<span id="month_text">/mo</span></h2>
          </div>
          <div class="active-pricing-box-content">
            <ul>
              <li><i class="fa fa-truck"></i><span>Forms arrive one week prior to exams.</span></li>
              <li><i class="fa fa-check-square"></i> <span>One spare form per exam.</span></li>
              <li><i class="fa fa-pencil"></i> <span>#2 pencil included with each delivery.</span></li>
            </ul>
          </div>
          <div class="active-pricing-box-footer">
            <% if current_user %>
              <% if current_user.city? %>
                <%= form_tag charges_path do %>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-name="Forms to Your Door"
                data-email="<%= current_user.email %>"
                data-description="$1.99/month"
                data-amount="199"
                data-panel-label="Pay {{amount}}">
                </script>
                <% end %>
              <% else %>
                <%= button_to "Complete Your Profile", edit_profile_path, :class => "btn btn-default", :method => :get %>
              <% end %>
            <% else %>
              <%= button_to "Log In to Purchase", login_path, :class => "btn btn-default", :method => :get %>
            <% end %>
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
        </div>
      </div>
    </div>
    <div class="row">
      <h1 class="section-title animated fadeInUp animation-delay-9" id="breakline">Forms We Support</h1>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 animated fadeInUp animation-delay-11">
        <div class="img-caption">
          <img src="882-E.png" class="img-responsive" alt="Green Scantron">
          <div class="caption">
            <div class="caption-content">
              <h4>Green Scantron</h4>
              <h5>(100 Answers)</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 animated fadeInUp animation-delay-12">
        <div class="img-caption">
          <img src="parscore.png" class="img-responsive" alt="ParSCORE">
          <div class="caption">
            <div class="caption-content">
              <h4>ParSCORE</h4>
              <h5>(100 Answers)</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 animated fadeInUp animation-delay-13">
        <div class="img-caption">
          <img src="4521.png" class="img-responsive" alt="Blue Scantron">
          <div class="caption">
            <div class="caption-content">
              <h4>Blue Scantron</h4>
              <h5>(200 Answers)</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 animated fadeInUp animation-delay-14">
        <div class="img-caption">
          <img src="bluebook.png" class="img-responsive" alt="Blue Book">
          <div class="caption">
            <div class="caption-content">
              <h4>Blue Book</h4>
              <h5></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h3 id="breakline">We're constantly expanding. If you need a form that we don't have, <%= link_to "Contact Us", contact_path %>.</h3>
    </div>
  </section>
</div>
